html {
    font-size: 20px;
}

body {
    background-color: blueviolet;
    padding: 50px 0;
    height: 100vh;
}

body h1 {
    font-size: 0.8em;
}

main {
    font-size: 1.5em;
}

.cajita {
    background-color: aqua;
    height: fit-content;
    width: 50%;
}

.cajita p {
    font-size: 1.2em;
}

.cajita2 {
    background-color: rgb(38, 145, 145);
    height: fit-content;
    width: 50%;
}

